<h1>myaps</h1>
<p>作成期間：9/10 ~ 9/16</p>
<p>使用言語：Ruby</p>
<p>使用フレームワーク：Ruby On Rails</p>
<br>

<h1>To Doリスト</h1>
<p style="color: red">..TODO..</p>
<ul>
	<% @tops.each do |top| %>
		<li><%= top.memo%></li>
	<% end %>
</ul>