<div class="contents-header">
	<h2><i class="fa fa-tag"></i><%= @tag.name %> のカード一覧</h2>
</div>
<div class="contents">
	<ul id='card-index'>
		<% @tag.cards.each do |card| %>
			<li class="card-index">
				<%= link_to card.title, card %>
			</li>
		<% end %>
	</ul>
</div>

