<div class="contents-header">
	<h3>検索する</h3>
</div>

<div class="contents-header">
	<h3>カード一覧</h3>
</div>
<div class="contents">
	<ul>
		<% @cards.each do |card| %>
			<li class="card-index">
				<%= link_to card.title, card_path(card) %>
			</li>
		<% end %>
	</ul>
</div>