$base: #A3C5F7;
$base-shadow: #92B4E6;
$letter: #2B546A;
$header: #454545;
$header-shadow: #232323;
$background: #F9FBFE;
$accent1: #FFDC9F;
$accent2: #B3A7F8;
$card: #B4C5DE;
$white: #FDFDFD;
$white-shadow: #ECECEC;
$gray-lighter: #D6D5D5;
$gray-middle: #AAA9A9;
$gray-darker: #797979;

* {
	margin: auto;
}

i{
	padding-right: 5px;
}

body{
	background: $background;
	color: $letter;
}

ul{
  list-style: none;
}

li{
	padding: 0px 5px;
}

a {
	color: $letter;
	padding: 1px 5px;
	text-decoration: none;
}
h1{
	color: $header;
}
h2{
	padding-bottom: 15px;
	text-align: center;
}

h3{
	padding: 10px 0px;
	text-align: center;
}

.flexbox{
	display: flex;
}

button{
	background: $header;
	border: none;
	border-radius: 5px;
	color: $white;
	&:hover{
		opacity: 0.8;
	}
	i{
		text-align: center;
	}
}

header{
	.header-title {
		background: $header;
		border-bottom: 2px solid $header-shadow;
	  position: fixed; /* ヘッダーを固定(これが重要) */
  	top: 0; left: 0; right: 0;  /* 固定する位置 */
		text-align: center;
		z-index: 999;
		a{
			color: $background;
		}
	}
	.header-menus{
		//固定されたヘッダーとの齟齬を測る
		margin-top: 70px;
		li{
			position: relative;
			& > a{
				&:before{
					background: $header;
					bottom: 0; left: 50%;
					content: "";
					position: absolute;
					transform: translateX(-50%);
					transition: .3s all;
					width: 0; height: 2px;
				}
				&:hover:before{
					width: 100%;
				}
			}
		}
	}
}

footer{
	background: $header;
	color: $white;
	margin-top: 20px;
	padding: 10px 0px;
	text-align: center;
	z-index: 999;
}

.container{
  padding-left: 10%; padding-right: 10%;
}

.form{
	text-align: center;
}

.todos-index{
	li{
		background: $white;
		border-radius: 1px;
		cursor: pointer;
		border: 2px solid $gray-lighter;
		margin-bottom: 1%;
		padding: 1%;

	}
}
// カードに関するレイアウト
.card-control{
	width: 70%;
	li {
		border-radius: 8%;
		cursor: pointer;
		&:hover{
			border-bottom: 2px solid $accent2;
		  transition: .1s all;
		}
	}
}

.card{
	border: 5px solid $header;
	border-radius: 5px;
	filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.6));
	background: $white;
	height: 400px; width: 80%;
	padding: 10px 10px;
	.card-title{
		background: gray-lighter;
		padding: 1% 2%;
		h1{
			font-size: 24px;
		}
	}
	.card-first-low{
		display: flex;
		.card-title{
			width: 80%;
		}
		.card-fav{
			width: 18%;
			form{
				width: 100%; height: 100%;
				button{
					width: 100%; height: 100%;
					display: inline-block;
					text-align: center;
					vertical-align: center;
				}
			}
		}
		button{
			color: $letter;
			background: $white;
			cursor: pointer;
		}
	}

	.card-tags{
		filter: drop-shadow(0px 0.2px 1px rgba(0,0,0,0.6));
		border-bottom: solid 1px $gray-lighter;
		font-size: 70%;
		padding: 1% 2%;
		padding-left: 10px;
		padding-bottom: 10px;
		a{
		background: $white;
		border-radius: 5px;
		border: solid 1px $gray-middle;
		}
	}
	.card-content{
		height: 65%;
		padding: 1% 2%;
		li{
			margin-bottom: 1%;
			padding-right: 1%;
		}
	}
}
.card-index{
	display: block;
	border: 5px solid $header;
	border-radius: 5px;
	filter: drop-shadow(0px 1px 1px rgba(69,69,69,0.6));
	background: $white;
	margin-bottom: 3%;
	padding: 1%;

	width: 70%;
	&:hover{
		background: #efefef;
		border: solid 7px $header;
		filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.6));
	}
	h3{
		padding: 1% 2%;
		text-align: left;
	}
	.tags{
		font-size: 70%;
		padding: 2%;
		a{
			border-radius: 5px;
		}
	}
	.dates{
		padding: 0% 2%;
		color: $gray-lighter;
		font-size: 70%;
	}

}

.show-index{
	border: 1px solid $letter;
	display: block;
	height: 20px; width: 20px;
}
.notice{
	background: $accent1;
	color: $white;
	text-align: center;
}
.alert{
	background: $accent1;
	color: $white;
	text-align: center;
}

.tag-btn{
	background: $background;
}

#tag-color{
	display: inline-block;
	width: 10%;
}

//aboutページ
.about{
	background: $white;
	border: 5px solid $header;
	border-radius: 5px;
	margin-bottom: 5px;
	h2{
		font-family: fantasy;
	}
	p{
		text-align: center;
	}
}