$base: #A3C5F7;
$base-shadow: #92B4E6;
$background: #F9FBFE;
$accent1: #FFDC9F;
$accent2: #B3A7F8;
$letter: #2B546A;
$white: #FDFDFD;

* {

	margin: auto;
}
i{
	padding-right: 5px;
}
body{
	background: $background;
	color: $letter;
}
ul {
  list-style: none;
}
li{
	padding: 0px 5px;
}
a {
	padding-left: 5px;
	text-decoration: none;
	color: $letter;
}

h2{
	text-align: center;
	padding-bottom: 10px;
}
.flexbox{
	display: flex;
}

header{
	.header-menus{
		margin-top: 70px;
		li{
			&:hover{
				border-bottom: 2px solid $accent1;
			  transition: .5s all;
			}
		}
	}
	.header-title {
		background: $base;
		border-bottom: 2px solid $base-shadow;
		margin-bottom: 20px;
		text-align: center;
		a{
			color: $background;
		}
	  position: fixed; /* ヘッダーを固定(これが重要) */
  	top: 0; left: 0; right: 0;  /* 固定する位置 */
	}
}

.container{
  padding-left: 10%; padding-right: 10%;
}

.form{
	text-align: center;
}

// カードに関するレイアウト
.card-control{
	height: 50px;
	display: flex;
	width: 70%;
	margin-bottom: 1%;
	.btn {
		width: 25%;
		cursor: pointer;
		border-radius: 8%;
		height: 20px;
		text-align: center;
		&:hover{
			border-bottom: 2px solid $accent2;
		  transition: .1s all;
		}
	}
}

.card{
	border: solid 2px $base;
	background: $white;
	height: 400px;
	width: 80%;
	.card-title{
		padding: 1% 2%;
		h1{
			font-size: 24px;
		}
	}
	.card-first-low{
		padding: 1% 2%;
		border-bottom: solid 2px $base;
		height: 20%;
		display: flex;
		.card-title{ width: 80%;}
		.card-like{width: 18%; border: dotted 1px red; margin: 1%;}
	}

	.card-tags{
		padding: 1% 2%;
		padding-left: 10px;
		border-bottom: solid 2px $base;
		height: 15%;
	}
	.card-content{
		padding: 1% 2%;
		height: 65%;
		li{
			padding-right: 1%;
			margin-bottom: 1%;
		}
	}
}
.card-index{
	border: medium solid #eeeeee;
	background: $white;
	height: 50px;
	margin-bottom: 1%;
	padding-left: 1%;
	text-align: left;
	width: 50%;
	border-bottom: 2px solid #ececec;
	a{
		display: block;
		height: 50px;
		padding: 15px;
	}
}

.notice{
	text-align: center;
	color: $white;
	background: $accent1;
}

.alert{
	text-align: center;
	color: $white;
	background: $accent1;
}
#signout:hover{
	border-bottom: 3px solid $accent2;
  transition: .5s all;
}